@charset "UTF-8";

/*
*****************
* RivetzCOM Community Page Styles
* by Andrew Defee [@adefee]
* for Rivetz, v: Etta
* Last Updated 02.07.2019@04:30PM (1562099438)
*
* [Table of contents]
* 1. Imports
* 2. Global Settings 
*
*****************
*/


/*
*
* 1. Imports
*
*/
@import 'variables'; // Custom Vars
@import 'bourbon'; // Bourbon 

.padTop2vh {
  padding-top: 4vh;
}
 
.section-intro {
  margin-bottom: 0;

  .illustration.app {
    z-index: 2;
    right: 0vw;
    top: -10vh;
  }
}

.section-slider-cont {
  margin-top: 5vh;
  padding-top: 20px
}

.section-slider {
  position: relative;

  ul {
    position: relative;
    padding: 0;
    width: calc(400px * 10);
    overflow: hidden;
    padding-bottom: 2vw $imp;
    transition: all 0.2s ease-in-out;
    margin-top: 12vh $imp;

    li {
      position: relative;
      display: inline-block;
      top: 0;
      margin: 0 calc(40px);
      z-index: 2;
      background: c(white);
      padding: 5px;
      border-radius: 2px;
      width: 360px;
      transition: all 0.1s ease-in-out;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);

      img {
        border-radius: 2px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }


      &:hover {
        box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.15);
        background: c(1);
        color: c(white);
        cursor: pointer ;

        h5, div.indice, a, p {
          color: c(white);
        }
      }

    }
  }

  .slider-nav {
    position: relative;
    display: block;
    width: 100%;
    text-align: right;

    .slider-increment {
      position: relative;
      border-radius: 50%;
      width: 60px;
      display: inline-block;
      line-height: 1;
      margin: 0;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      top: 0;

      .eclipse {
        transition: all 0.1s ease-in-out;
      }

      &:hover {

        .eclipse {
          fill: #FFFFFF;
          //opacity: 1;
        }

        top: -2px;
        @include box-shadow(button);
      }
    }
  }
}

.section-videos {
  margin-bottom: 0vh;

  .section-head h1 {
    font-size: 3rem;
  }
  .section-details {
    font-size: 1.4rem;
    max-width: 960px;
    margin-bottom: 4vh;
  }

  .illustration.keys {
    top: auto;
    bottom: -8vh;
  }
} 

.section-closing, .section-social {
  text-align: center;

  hr {
    margin: 6vh auto;
    max-width: 40%;
    opacity: 0.6;
  }

  .section-details p {
    max-width: 1100px;
    margin: 0 auto;
  }

  .illustration.key1 {
    top: -10vh;
    left: 0;
    right: auto;
    bottom: auto;
  }

  .illustration.key2 {
    top: auto;
    left: auto;
    right: 0;
    bottom: -20vh;
  }

  &.section-social {
    ul.social-nav {
      margin-top: 2vh;
      li {
        margin: 15px;

        a {
          font-size: 3rem;
          padding: 10px 8px;
        }
      }
    }
  }
}

.section-papers {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0 $imp; 
}


/*
 * Responsive Changes: 640px (@s) and up
 ************
 *
*/
@media (min-width: 640px) {
  // #site-navigation-mobile {
  //   top: 36px;
  //   padding: 20px 0; 
  // } 
}


/*
 * Responsive Changes: 960px (@m) and up
 ************
 *
*/
@media (min-width: 960px) {
  .page-section {
    margin-bottom: 15vh;
    &.section-form {
      margin-bottom: 0;
    }
  }
}


@media (min-width: 1200px) and (max-width: 1700px) {
  .section-intro {
    margin-bottom: 30vh;

    .illustration.app {
      right: -5vw;
      top: -15vh;

      img {
        transform: scale(0.9);
      }
    }
  }
}


