@charset "UTF-8";

/*
*****************
* RivetzCOM Pro Services Solution Page Styles
* by Andrew Defee [@adefee]
* for Rivetz, v: Etta
* Last Updated 30.06.2019@07:11PM (1561936311)
*
* [Table of contents]
* 1. Imports
* 2. Global Settings 
*
*****************
*/


/*
*
* 1. Imports
*
*/
@import 'variables'; // Custom Vars
@import 'bourbon'; // Bourbon 

 
.section-intro {

  .illustration.key2 {
    z-index: 2;
    right: 5vw;
    top: 12vh;

    img {
      transform: scale(1.4);
    }
  }
}

.section-response {
  padding-top: 0;

  .section-details {
    max-width: 960px;
    margin: 0 auto;
  }
}

.section-partner {
  padding-top: 0;
  margin-top: 0;
}

.section-planning {
  padding-top: 0;

  .illustration.user {
    top: -5vh;
    right: 20vw;
  }
}

.section-spof {
  margin-top: 0vh;

  .section-details {
    margin: 0 auto;
  }

  .illustration.user {
    left: 0vw;
    top: 13vh;
  }
}

.section-solutions {
  .illustration.soln{
    top: 5vh;
  }
}

.section-device {
  margin-top: 0vh;
  padding-top: 0;

  .section-details {
    margin: 0 auto;
  }

  .illustration.device {
    left: -5vw;
    top: 0vh;
  }

}

.section-transparency {
  padding-top: 0;

  .illustration {
    top: -4vh;
    right: 10vw;

    &.device {
      top: -17vh;
      right: 12vw;
    }
    
    img {
      transform: scale(1);
    }
  }

  a {
    position: relative;
    color: c(1);
    transition: all 0.1s linear;
    
    &:hover {
      color: c(text);
      text-decoration: none;
    }
  }

  ul.reasons {
    position: relative;

    li {
      position: relative;
      margin: 20px 0;
      font-size: 1.2rem;
      @include font(p, normal);
      padding-right: 50px;
    }
  }
}


/*
 * Responsive Changes: 640px (@s) and up
 ************
 *
*/
@media (min-width: 640px) {
  // #site-navigation-mobile {
  //   top: 36px;
  //   padding: 20px 0; 
  // } 
}


/*
 * Responsive Changes: 960px (@m) and up
 ************
 *
*/
@media (min-width: 960px) {
  .page-section {
    margin-bottom: 15vh;
    &.section-form {
      margin-bottom: 0;
    }
  }
}



@media (min-width: 1200px) and (max-width: 1700px) {
  .page-section {
    margin-bottom: 10vh;
  }
  .section-intro {
    padding-bottom: 0;

    .illustration.app {
      right: -11vw;

      img {
        transform: scale(0.8);
      }
    }
  }

  .section-spof .illustration.user {

    left: -5vw;
    top: 20vh;
    
    img {
      transform: scale(0.9);
    }
  }
}
