@charset "UTF-8";

/*
*****************
* RivetzCOM Solutions Page Styles
* by Andrew Defee [@adefee]
* for Rivetz, v: Etta
* Last Updated 28.06.2019@11:15AM (1561734959)
*
* [Table of contents]
* 1. Imports
* 2. Global Settings 
*
*****************
*/


/*
*
* 1. Imports
*
*/
@import 'variables'; // Custom Vars
@import 'bourbon'; // Bourbon 

 
.section-intro {

  .illustration.app {
    z-index: 2;
    right: 0vw;
    top: -10vh;
  }
}

.section-controls {
  margin-top: 40vh;

  .illustration.phone {
    left: 5vw;
    top: 8vh;
  }

  .illustration.key {
    top: auto;
    bottom: -10vh;
    left: 4vw;
  }

}


.section-collections {

  .illustration {
    top: 10vh;
    right: 10vw;
    
    img {
      transform: scale(1);
    }
  }

  .section-head h1 {
    font-size: 3rem;
  }
  .section-head p {
    font-size: 1.4rem;
  }

  a {
    position: relative;
    color: c(1);
    transition: all 0.1s linear;
    
    &:hover {
      color: c(text);
      text-decoration: none;
    }
  }
}

.section-drt {

  .illustration {
    top: 10vh;
    right: 8vw;
    
    img {
      transform: scale(1);
    }
  }

  .section-head h1 {
    font-size: 3rem;
  }
  .section-head p {
    font-size: 1.4rem;
  }

  a {
    position: relative;
    color: c(1);
    transition: all 0.1s linear;
    
    &:hover {
      color: c(text);
      text-decoration: none;
    }
  }
}

.section-services {
  text-align: center;

  hr {
    margin: 6vh auto;
    max-width: 40%;
    opacity: 0.6;
  }

  .section-details p {
    max-width: 1100px;
    margin: 0 auto;
  }

  .illustration.key1 {
    top: -10vh;
    left: 0;
    right: auto;
    bottom: auto;
  }

  .illustration.key2 {
    top: auto;
    left: auto;
    right: 0;
    bottom: -20vh;
  }
}

.section-papers {
  margin-bottom: 0 $imp;
}


/*
 * Responsive Changes: 640px (@s) and up
 ************
 *
*/
@media (min-width: 640px) {
  // #site-navigation-mobile {
  //   top: 36px;
  //   padding: 20px 0; 
  // } 
}


/*
 * Responsive Changes: 960px (@m) and up
 ************
 *
*/
@media (min-width: 960px) {
  .page-section {
    margin-bottom: 15vh;
    &.section-form {
      margin-bottom: 0;
    }
  }
}


@media (min-width: 1200px) and (max-width: 1700px) {
  .page-section {
    margin-bottom: 10vh;
  }
  // .section-intro {
  //   padding-bottom: 0;

  //   .illustration.app {
  //     right: -11vw;

  //     img {
  //       transform: scale(0.8);
  //     }
  //   }
  // }

  .section-controls .illustration.phone {

    left: 0vw;
    
    img {
      transform: scale(0.9);
    }
  }

  .section-drt .illustration {

    right: -5vw;
    top: 15vh;
    
    img {
      transform: scale(0.9);
    }
  }
}


